<article class="flex cursor-pointer flex-row items-center gap-2 overflow-hidden rounded bg-[#ffffff1a] pr-2 transition-all duration-500 hover:bg-[#ffffff33]">
  <img
    class="h-12 w-12"
    src="https://mosaic.scdn.co/640/ab67616d00001e028cd19acfaf7a63e55400263cab67616d00001e02adff47c34f58aaf13c78b9f5ab67616d00001e02c6885acc97b6a8b683e41909ab67616d00001e02df525e61c698f774617fa9ee"
    alt=""
    loading="lazy" />
  <div class="flex items-center">
    <p class="text-xs font-bold text-balance">Worldwide Revival (deluxe)</p>
  </div>
</article>
