<section class="flex items-center justify-between">
  <div>
    <h3 class="font-bold">Hillsong</h3>
    <span class="text-xs">12 songs</span>
  </div>
  <div>
    <icon name="drag"></icon>
  </div>
</section>

<section class="mt-4 flex h-[600px] min-h-0 flex-col gap-4 overflow-y-auto">
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
  <song-card></song-card>
</section>
