<section>
  <button
    (click)="openCreatePlaylistModal()"
    class="bg-spotify text-dark hover:bg-spotify-hover active:bg-spotify-active flex items-center gap-2 rounded-full px-4 py-2 font-semibold transition-all duration-200">
    <icon name="plus"></icon>
    <span>New playlist</span>
  </button>
</section>

<section
  cdkDropList
  [cdkDropListOrientation]="'horizontal'"
  (cdkDropListDropped)="dropPlaylist($event)"
  class="mt-4 flex h-full min-h-0 gap-4 overflow-x-auto overflow-y-hidden rounded-lg">
  @for(playlist of playlists(); track playlist.name) {
  <section
    cdkDrag
    [cdkDragData]="playlist"
    [style.background]="playlist.color"
    class="flex w-80 flex-shrink-0 flex-col gap-4 overflow-hidden rounded-lg p-4">
    <section class="flex items-center justify-between">
      <div>
        <h3 class="font-bold">{{ playlist.name }}</h3>
        <span class="text-xs">{{ playlist.tracks.length }} songs</span>
      </div>
      <div class="flex items-center gap-2">
        <icon
          (click)="openEditPlaylistModal(playlist)"
          class="hover:text-spotify-hover cursor-pointer transition-colors duration-200"
          name="edit">
        </icon>
        <icon
          cdkDragHandle
          class="hover:text-spotify-hover cursor-grab transition-colors duration-200"
          name="drag">
        </icon>
      </div>
    </section>

    <section
      cdkDropList
      [id]="playlist.id"
      [cdkDropListData]="playlist.tracks"
      [cdkDropListConnectedTo]="getConnectedLists()"
      (cdkDropListDropped)="dropTrack($event)"
      class="flex min-h-0 flex-1 flex-col gap-4 overflow-y-scroll pb-4">
      @for(track of playlist.tracks; track track.id) {
      <song-card
        cdkDrag
        [cdkDragStartDelay]="0"
        [cdkDragData]="track"
        [track]="track">
      </song-card>
      }
    </section>
  </section>
  }
</section>
